<h1>Kursübersicht für Tag <%= @weekday_string %></h1>

<strong>Um neuen Kurs hinzuzufügen, einfach eine eine leere Zelle klicken</strong>
<br/><br/>

<div class="simpleBorder">
<table>
	<tr>
		<th>Zeit</th>
		<% @allRooms.each do |r| %>
			<th><%= h r.name %>
		<% end %>
	</tr>
	<%= render :partial => "day_table" %>
</table>
</div>
