<h1>Search</h1>

<h2>Schedule Action</h2>

<%= render :partial => "schedule_action" unless @action.nil? %>

<p>clashed_courses</p>
<%= debug @clashed_courses unless @clashed_courses.nil? || @clashed_courses.empty? %>

<p>scheduling_1</p>
<%= debug @scheduling_1 unless @scheduling_1.nil? || @scheduling_1.empty? %>

<br/><br/>
<hr/>
<br/><br/>
<%= debug @action -%>
