<h1>Testing</h1>

<h2>ScheduleActions</h2>
<%= debug @schedule_actions %>

<hr/>
<h2>Schedules</h2>
<%= render :partial => "schedules/schedules", :collection => @schedules, :as => :schedule unless (@schedules.nil? || @schedules.empty?) %>

<hr/>
<h2>Small Rooms</h2>
<%= debug @small_rooms %>

<hr/>
